* {
  margin: 0;
  padding: 0;
}
/* 위치 너비 */
.width-100vw {
  width: 100vw;
}
.width-70vw {
  width: 70vw;
}

.width-50vw {
  width: 50vw;
}
.width-40vw {
  width: 40vw;
}
.width-30vw {
  width: 30vw;
}
.width-20vw {
  width: 20vw;
}
.width-25vw {
  width: 25vw;
}
.width-15vw {
  width: 15vw;
}
.width-10vw {
  width: 10vw;
}

/* 위치 높이 */
.height-100vh {
  height: 100vh;
}
.height-80vh {
  height: 80vh;
}
.height-70vh {
  height: 70vh;
}
.height-65vh {
  height: 65vh;
}
.height-60vh {
  height: 60vh;
}
.height-50vh {
  height: 50vh;
}
.height-40vh {
  height: 40vh;
}
.height-45vh {
  height: 45vh;
}
.height-20vh {
  height: 20vh;
}
.height-15vh {
  height: 15vh;
}
.height-10vh {
  height: 10vh;
}
.height-5vh {
  height: 5vh;
}
.height-4vh {
  height: 4vh;
}
.height-3vh {
  height: 3vh;
}

/* 백그라운드 컬러 */
.bgc-d9d9d9 {
  background-color: #d9d9d9;
}
.bgc-white {
  background-color: white;
}

/* flex */
.flex {
  display: flex;
}
.justifyContent-center {
  justify-content: center;
}
.justifyContent-spb {
  justify-content: space-between;
}
.justifyContent-ard {
  justify-content: space-around;
}

.align-items {
  align-items: center;
}

.flexDirection-co {
  flex-direction: column;
}

/* 외곽선 */
.border-4px {
  border: 4px solid black;
}
.border-1px {
  border: 1px solid black;
}
