@import url('./class-style.css');

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}

ul {
  width: 10vw;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
li {
  list-style: none;
  width: 6.5vw;
  height: 2.5vh;
  font-size: 12px;
  text-align: center;
  position: relative;
  color: #919191;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}
