@import url('./class-style.css');

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 10vw;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
li {
  list-style: none;
  width: 6.5vw;
  height: 2.5vh;
  background-color: #adadad;
}
